body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 2.5rem;
    color: white;
}

.alert {
    background-color: black;
    border-left: 5px solid #ffc107;
    padding: 15px;
    color: white;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 1.7;
}

ul li::before {
    content: '•';
    color: #ffc107;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    font-size: 1.2rem;
    color: white;
    border-left: 5px solid #ffc107;
    padding-left: 10px;
}
