body {
    background-color: black;
    color: white;
}
/* Header Section */

.header-section {
    background-image: url('images/textured\ background.jpg');
    background-size: cover;
}
.card {
    border: 1px solid white;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}


.btn-dark {
    background-color: #000;
    border: none;
    color: black;
}

.btn-dark:hover {
    background-color: #333;
}

/* More Resources Section */
.more-resources-section {
    background-color: black;
    padding: 40px 0;
}

.resource-box {
    background-color: white;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

.resource-box:hover {
    background-color: black;
}

.resource-box h5 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.resource-box a {
    color: #000;
}

.resource-box a:hover {
    text-decoration: underline;
}
