body {
    background-color: black;
    font-family: 'Arial', sans-serif;
}

.text-primary {
    color: #BB86FC; /* A purple hue that stands out on a dark background */
}

.btn-primary {
    background-color: #BB86FC;
    border-color: #BB86FC;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control {
    border-radius: .375rem;
    background-color: #1F1F1F;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #BB86FC;
}

a:hover {
    text-decoration: underline;
}

.card {
    background-color: #1F1F1F;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

.card-text small {
    color: #6c757d;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 500;
}

.text-primary {
    color: #BB86FC !important;
}

a {
    color: #BB86FC;
}

a:hover {
    text-decoration: underline;
}
