
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.feedback-section{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.feedback-section .container{
    background-color: white;
    padding: 50px;
    border: 0px solid;
    border-radius: 10px;
}
.feedback-section .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.feedback-section .row .col{
    flex: 1 1 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box{
    background-color: rgba(0, 0, 0, 0.913);
    color: white;
    padding: 5px;
    border: 0px solid;
    border-radius: 5px;
}
.box input{
    color: white;
}

.form-control {
color: black;
border: none;
border-bottom: 1px solid black;
border-radius: 0;
}

.form-control::placeholder {
    color: #555;
}

.form-control:focus {
    border-bottom: 1px solid black; 
    box-shadow: none; 
    outline: none;
}
