.navbar-brand img {
    max-height: 30px;
}

.navbar-nav nav-link {
    color: black;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-nav.ms-3 .nav-link img {
    max-height: 20px;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("https://img.icons8.com/ios-glyphs/30/ffffff/menu--v1.png");
}
.hero-section {
    background-color: #000;
    background-image: linear-gradient(to right, #000, #111);
}

.pricing-card {
    background-color: #111;
}

.display-3, .display-4 {
    font-weight: bold;
}

.btn-primary {
    background-color: #3f51b5;
    border-color: #3f51b5;
    background-image: linear-gradient(90deg, #00b5e2, #a81bc2);
}

.btn-primary:hover {
    background-color: #2a3eb1;
    border-color: #2a3eb1;
}

p.lead {
    color: #ccc;
}
/* GLOBAL STYLE */
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}


/* NAV BAR */
header{
    background-color: transparent;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul{
    list-style: none;
}

#navLinks  li{
    padding: 0px 8px;
}

.nav-item a{
    color: white;
}
.nav-item button{
    color: white;
}


/* DROPDOWN */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(0, 0, 0);
    color: white;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.nav-link{
  font-weight: bold;  
}


/* NAVPROFILE BUTTONS  */


.navProfile ul li button{
    border: none;
}

/* HAMBURGER MENU STYLING */
.navbar-toggler {
    border: none; 
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-left: 0;
        text-align: start;
    }
}
.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-social-icons a {
    margin-right: 15px;
    font-size: 20px;
}

.footer .footer-company,
.footer .footer-community,
.footer .footer-business {
    margin-bottom: 20px;
}