.hero-sectio {
    background-color: #000;
    background-image: linear-gradient(to right, #000, #111);
    padding: 160px 0px;
}

.pricing-card {
    background-color: #111;
}

.display-3, .display-4 {
    font-weight: bold;
}

.btn-primary {
    background-color: #3f51b5;
    border-color: #3f51b5;
    background-image: linear-gradient(90deg, #00b5e2, #a81bc2);
}

.btn-primary:hover {
    background-color: #2a3eb1;
    border-color: #2a3eb1;
}

p.lead {
    color: #ccc;
}