/* styles.css */
body {
    font-family: 'Rubik', sans-serif;
}

.video-bg {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}
h1 {
    text-shadow: 5px 5px white;
}  
.left-section{
    border: 0px solid;
    /* border-radius: 0px 100px 100px 0px; */
}
.overlay-text {
  position: absolute !important;
  top: 83% !important;
  left: 25% !important;
  transform: translate(-50%, -50%) !important;
  color: white !important;
  text-align: center !important;
  font-weight: 500 !important;
}


.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 1000px !important;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    
}

.login-form h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #007bff;
}

.sign-up-text {
    margin-top: 20px;
    text-align: center;
}

.sign-up-text a {
    color: #007bff;
}

@media (max-width: 991.98px) {
    .video-bg {
        display: none;
    }
}