/* styles.css */
body {
    font-family: 'Rubik', sans-serif;
}

.video-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: 500;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fa;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-form h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #007bff;
}

.sign-up-text {
    margin-top: 20px;
    text-align: center;
}

.sign-up-text a {
    color: #007bff;
}

@media (max-width: 991.98px) {
    .video-bg {
        display: none;
    }
}
