body {
    background-color: black;
}

.terms-conditions{
    padding: 20px 6px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

p {
    color: #fff;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #fff;
}
.list-disc{
    list-style-type: disc;
}
