
.video-bg {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}
#pop {
    text-shadow: 5px 5px white;
}  
.left-section{
    border: 0px solid;
    /* border-radius: 0px 100px 100px 0px; */
}
.right-pop {
    position: absolute;
    top: 83%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: 500;
}


.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 1000px !important;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #007bff;
}

.sign-up-text {
    margin-top: 20px;
    text-align: center;
}

.sign-up-text a {
    color: #007bff;
}

@media (max-width: 991.98px) {
    .video-bg {
        display: none;
    }
}