/* Header Section */
.header-section {
  background-image: url('Images/textured\ background.jpg');
  background-size: cover;
}

/* More Resources Section */
.more-resources-section {
  background-color: black;
  padding: 40px 0;
}

.resource-box {
  background-color: white;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}

.resource-box:hover {
  background-color: black;
}

.resource-box h5 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.resource-box a {
  color: #000;
}

.resource-box a:hover {
  text-decoration: underline;
}
  
.header-section .form-control{
  background-color: transparent !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  border-radius: 0px;
  color: white;
  font-size: 2rem;
}
  
.header-section .form-control::placeholder{
  color: white;
}

.header-section .form-control:focus{
  background-color: transparent !important;  
  color: white !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  box-shadow: none !important; 
}
  
form{
  position: relative;
}
  
.search-icon {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: white;
}